* {
    background-color: white;
    margin-left: 2em;
    margin-top: 1em;
   
}
div {
    border: 2px double black;
    border-radius: 20px;
    width: 500px;
    background-color: black;
}
.first_section h1 {
    font-size: 18px;
}
.first_section {
    color: green;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    padding-top: 10px;
    padding-right: 10px;
    justify-content: space-evenly;
  
}
.second_section h2 {
    font-size: 18px;
}
.second_section {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    padding-top: 5px;
    padding-right: 10px;
    justify-content: space-evenly;
    
}
.third_section h2 {
    font-size: 18px;
}
.third_section {
    color: blue;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    margin-bottom: 2em;
    padding-top: 5px;
    padding-right: 10px;
    justify-content: space-evenly;
    
}