* {
    background-color: white;
    margin-top: 1em;
    
}
.likes_header h1 {
    color: rgb(143, 121, 143);
    
}
.likes_header h2 {
    color: blue;
    margin-right: 3em;
    
}
#likes_header_list {
    font-size: 17px;
    color: rgb(26, 20, 11);
    text-transform: capitalize;
    list-style: square;
}
.dislikes_header h2 {
    color: blue; 
    margin-left: 1.7em;  
}
#dislikes_header_list {
    font-size: 17px;
    color: rgb(26, 20, 11);
    list-style: square;
       
}
